name: Deploy to Lightsail

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            # Navigate to project directory
            cd tripplanner
            
            # Pull latest changes
            git pull origin main
            
            # Install dependencies
            npm install
            
            # Build application
            npm run build
            
            # Restart PM2 process
            pm2 restart lfg-places
